#large-header{
  /*background: darkgrey;*/
}

#canvas{
  position: absolute;
  top:0;
  z-index: -1;
}

#canvasbg{
  position: absolute;
  top: 0;
  z-index: -10;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.6;
}
html {
  top:0;
  background: -webkit-linear-gradient(#027fb7, #B2D0DE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#027fb7, #B2D0DE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#027fb7, #B2D0DE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#027fb7, #B2D0DE); /* Standard syntax (must be last) */
}
